<div class="btn-group" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-default dropdown-toggle"
    aria-controls="dropdown-basic"
  >
    Select your news <span class="caret"></span>
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-basic"
  >
    <li role="menuitem"><a class="dropdown-item" href="#">Angular</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">React</a></li>
    <li role="menuitem"><a class="dropdown-item" href="#">Vue</a></li>
  </ul>
</div>
