<div class="btn-group dropdown" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-default dropdown-toggle"
    aria-controls="dropdown-basic"
  >
    <!--<img *ngIf="lang.img" [src]="'../../../assets/resources/img/'+lang.img" [alt]="'this is image about '+lang.name"> <a class="dropdown-item" href="#">Select your news</a> <span class="caret"></span>-->Select your news
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-basic"
  >
    <li *ngFor="let lang of language" role="menuitem" (click)="setLanguage(lang.name)"> <img *ngIf="lang.img" [src]="'../../../assets/resources/img/'+lang.img" [alt]="'this is image about '+lang.name"> <a class="dropdown-item" href="#">{{lang.name}}</a></li>
  </ul>
</div>
