<div class="btn-group dropdown" dropdown>
  <button
    id="button-basic"
    dropdownToggle
    type="button"
    class="btn btn-default dropdown-toggle"
    aria-controls="dropdown-basic"
  >
    <img
      *ngIf="dropTittle[0].img"
      [src]="'../../../assets/resources/img/' + dropTittle[0].img"
      [alt]="'this is image about ' + dropTittle[0].name"
    />
    {{ dropTittle[0].name }}
  </button>
  <ul
    id="dropdown-basic"
    *dropdownMenu
    class="dropdown-menu"
    role="menu"
    aria-labelledby="button-basic"
  >
    <li
      *ngFor="let lang of language"
      role="menuitem"
      (click)="setLanguage(lang.name)"
    >
      <img
        *ngIf="lang.img"
        [src]="'../../../assets/resources/img/' + lang.img"
        [alt]="'this is image about ' + lang.name"
      />
      <a class="dropdown-item" href="#">{{ lang.name }}</a>
    </li>
  </ul>
</div>
