li{display: flex;
    margin: 12px 50px 1px 10px;}

img{
    width: 24px;
    height: 24px;
    object-fit: contain;
  }

  .dropdown {
    width: 190px;
    margin: 63px 114px 1px 150px;
    padding: 5px 12px 5px 12px;
    border-radius: 4px;
    border: solid 1px #2e2e2e;
    background-color: #fff;
  }
  .drop{
    display: flex;
  }